= link_to t('registration') , new_user_registration_path

.right_ad{:style => "float:right;"}
  = link_to image_tag("test.png"), "https://craftacademy.se/"
%br/
- @articles.each do |article|
  - if article.image.attached?
    = image_tag article.image
  %br
  = link_to article.title, article_path(article)
  %p= article.title
  %p= article.body
  %p
    = t('published_on')
    = article.created_at.to_date

- if current_user 
  = link_to t('my account'), user_path(current_user)

