- @articles.each do |article|
  = link_to article.title, article_path(article)
  %p= article.title
  %p= article.body
  %p= article.created_at.to_date

.right_ad
= link_to image_tag("test.png"), "https://craftacademy.se/"

  

