- @articles.each do |article|
  %p
  = image_tag @article.image
  = link_to article.title, article_path(article)
  %p= article.body
  %p
    Published on:
    = article.created_at.to_date

= link_to 'Registration' , new_user_registration_path