= form_with model: @article, local: true do |form|
  = form.label :title
  %br/
  = form.text_field :title
  %br/
  = form.collection_select :category_id, @categories, :id, :name
  %br/
  = form.label :body
  %br/
  = form.text_area :body
  %br/
  = form.file_field :image
  %br/
  = form.submit t('create_article')

= link_to t('back'), articles_path