= form_with model: @article, local: true do |form|
  = form.label :title
  %br/
  = form.text_field :title
  %br/
  = form.label :body
  %br/
  = form.text_area :body
  %br/
  = form.submit 'Create Article'

= link_to 'Back', articles_path
= notice