= form_with model: @article, local: true do |form|
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.label :title
  %br/
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.text_field :title
  %br/
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.collection_select :category_id, @categories, :id, :name
  %br/
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.label :body
  %br/
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.text_area :body
  %br/
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.file_field :image
  %br/
  .block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
    = form.submit t('create_article')

.block.text-black.m-2.font-bold.md:text-center.mb-1.md:mb-0.pr-4
  = link_to t('back'), articles_path