= form_with model: @article, local: true do |form|
  .field
    = form.label :title
  %br/
  .field    
    = form.text_field :title
  %br/
  .field    
    = form.collection_select :category_id, @categories, :id, :name
  %br/
  .field    
    = form.label :body
  %br/
  .field    
    = form.text_area :body
  %br/
  .field    
    = form.file_field :image
  %br/
  .field    
    = form.submit t('create_article')
  .field  
    = link_to t('back'), articles_path