%p
  %strong Title:
  = @article.title
%p
  Published on:
  = @article.created_at.to_date
%p
  %strong Text:
  = @article.body

%p
#rating
  Rate
  - 5.times do |rate|
    = button_tag "#{rate + 1}", data: {rating: "#{rate + 1}"}

:javascript
  let buttons = document.querySelectorAll('button')
  let rating = document.querySelector('#rating')
  button.forEach((button) => {
    button.addEventListener('click',(event) =>{
      let value = button.dataset.rating


    }).then(function(response) {
      return response([:notice]); //?????

    }
  }