%p
  %strong Title:
  = @article.title
%p
  Published on:
  = @article.created_at.to_date
%p
  %strong Text:
  = @article.body

%p
#rating
  Rate
  - 5.times do |rate|
    = button_tag "#{rate + 1}", data: {rating: "#{rate + 1}"}

:javascript
    console.log('LOADED!')  
    let ratingButtons = document.querySelectorAll('button')
    let noticeDiv = document.querySelector('.notice')
    let alertDiv = document.querySelector('.alert')
    let ratingDiv = document.querySelector('#rating')
    ratingButtons.forEach((button)=>{
      button.addEventListener('click',(event)=>{
        event.preventDefault()
        let value = button.dataset.rating
        let body = JSON.stringify({rating: value })
        fetch("#{ratings_path(@article)}", {
          method: 'POST',
          body: body,
          credentials: 'include',
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRF-Token': Rails.csrfToken()
        }}).then(function(response) {
          return response.json();
        }).then(function(data) {
          noticeDiv.innerHTML = data.message
          ratingDiv.style.display = 'none'
          console.log(data)
        }).catch((error) => {
          alertDiv.innerHTML = data.error
          console.log(error)
        });
    })