%p= image_tag @article.image
%p
  %strong Title:
  = @article.title
%p
  Published on:
  = @article.created_at.to_date
%p
  %strong Text:
  = @article.body

%p
= form_with url: article_comments_path(@article) do |form|
  = form.label :comment
  = form.text_field :comment
  = form.submit 'Leave comment'