.notice
.alert
%p= image_tag @article.image
%p
  %strong Title:
  = @article.title
%p
  Published on:
  = @article.created_at.to_date
%p
  %strong Text:
  = @article.body
#rating
  %p
    Rate  
  - 5.times do |rate|
    = button_tag "#{rate + 1}", data: {rating: "#{rate + 1}"}


.stars#star-rating
  %form{action: ""}
    - 5.times do |rating|
      %input{name: "star", type: "radio", id: "star-#{rating + 1}", class: "star star-#{rating + 1} stars", data: {rating: "#{rating + 1}"}}
      %label{for: "star-#{rating + 1}", class: "star star-#{rating + 1}"}
   


:javascript
  handleRating("#{article_ratings_path(@article)}")
  handleStarRating("#{article_ratings_path(@article)}")
