!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DPressed
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body
    %nav
      = link_to 'New Article', new_article_path
    .notice
    .alert
    = flash[:notice]
    = flash[:error]
    = yield