!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = link_to_unless_current t('english'), locale: "en"
    = link_to_unless_current t('svenska'), locale: "se"
    %title DPressed
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body
    %nav
      = link_to t('new_article'), new_article_path

    .notice
    .alert
    = flash[:notice]
    = flash[:error]
    = yield