!!!
%html

  %head
    %meta{content: 'text/html; charset=UTF-8; width=device-width; initial-scale=1', http: {equiv: "Content-Type"}}
    %link{href: "https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css", rel: "stylesheet"}
    
    %title D-Pressed
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .app-navbar
    .page_title D-Pressed. Sad news for the sad world.
 

    .articles
      = yield
      = flash[:notice]
      = flash[:error]
      = notice

    .app-footer


